**/.DS_Store
.vscode/settings.json
**/__pycache__/
**/*.egg-info/
.venv/
.coverage
.pytest_cache/
.ash/
.temp/

.kiro/*
.kiro/**/*

.claude/*
.claude/**/*

build/
dist/

# Working directories let's exclude for convenience
.context/
.working/
.temp/
.data/

# Openspec
openspec/
.claude/commands/opsx/
.claude/skills/openspec-*
